:root {
  --bg: #242526;
  --bg-accent: #484a4d;
  --text-color: #dadce1;
  --nav-height: 100px;
  --border: 5px solid #474a4d;
  --border-radius: 8px;
  --speed: 500ms;
}

body,
h1,
p {
  margin: 0;
}

a {
  padding: 1rem;
}

h1,
a {
  /* color: var(--text-color); */
  text-decoration: none;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}