:root {
  --bg: #242526;
  --bg-accent: #484a4d;
  --text-color: #dadce1;
  --nav-height: 100px;
  --border: 5px solid #474a4d;
  --border-radius: 8px;
  --speed: 500ms;
}

body {
  margin: 0;
  background-color: var(--bg);
}

a {
  color: var(--text-color);
  text-decoration: none;
  padding: 1rem;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  justify-content: space-between;
}

a svg {
  fill: var(--text-color)
}